/*CSS do Updates.html*/

*{
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  margin: 0; /* Remove margens padrão */
}

body {
  background-color: rgb(203, 253, 252); /* Cor desejada */
}


#header{
 text-align: center; /*Cabeçario*/
 padding: 10px;
 background-color:rgb(30, 134, 134);
 color: black;
}

#logo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(33, 180, 180);
    border-radius: 5px;
}

#menu{
    float: left;
    background-color: rgb(24, 216, 222);
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    margin-right: 100%;
    margin-bottom: 10px;
     border: 4px ridge rgb(30, 134, 134);
    /*border-radius: 1px;*/
}

a{
    text-decoration: dotted;
    position: sticky;
    border-radius: 5px;
    color: black; /*cor dos links não selecionados*/
}

ul a{
list-style: disc;
}

nav ul a:hover{ /*efeito de link na pagina secundaria*/
    position:sticky;
    float: center;
    background-color: rgb(34, 160, 160);
    color: white; /*cor dos links selecionados*/
    display: block;
}

#Text2{ /*texto no container*/
    place-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 238, 238);
    align-items: center;
    height: max-content;
    width: 99.4%;
    /*padding: 70;*/
    border: 5px groove rgb(30, 160, 160);
}

#footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: static;
    text-align: end;
    padding: 9.5px;
    /*margin-top: 5vh;*/
    background-color: rgb(6, 215, 215); /* Testar rgb(6, 215, 215)*/
    border: 8px solid rgb(30, 160, 160);
}